<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= app_name %> - Agregator dla programistow</title>
    <description>Najlepsze artykuly, tutoriale i dyskusje ze swiata IT dla polskich programistow</description>
    <link><%= app_url %></link>
    <atom:link href="<%= app_url %>/feed.rss" rel="self" type="application/rss+xml"/>
    <atom:link href="https://pubsubhubbub.appspot.com/" rel="hub"/>
    <atom:link href="https://pubsubhubbub.superfeedr.com/" rel="hub"/>
    <language>pl</language>
    <lastBuildDate><%= @posts.first&.created_at&.rfc2822 || Time.current.rfc2822 %></lastBuildDate>
    <ttl>60</ttl>

    <% @posts.each do |post| %>
    <item>
      <title><%= post.title %></title>
      <link><%= post.url.presence || "#{app_url}#{post_path(post)}" %></link>
      <guid isPermaLink="true"><%= app_url %><%= post_path(post) %></guid>
      <pubDate><%= post.created_at.rfc2822 %></pubDate>
      <description><![CDATA[
        <%= post.body.present? ? truncate(strip_tags(post.body), length: 300) : "#{post.score} punktow | #{post.comments_count} komentarzy" %>
        <br><br>
        <a href="<%= app_url %><%= post_path(post) %>">Dyskusja na <%= app_name %></a>
      ]]></description>
      <author><%= post.author&.username || "anonim" %></author>
    </item>
    <% end %>
  </channel>
</rss>
