<div class="comment" id="<%= dom_id(comment) %>" data-controller="comment-reply">
  <div class="comment-meta">
    <%= turbo_frame_tag "vote_#{dom_id(comment)}" do %>
      <% if logged_in? %>
        <% if current_user.voted_for?(comment) %>
          <span class="vote-btn active">&#9650;</span>
        <% else %>
          <%= button_to upvote_comment_path(comment), method: :post, class: "vote-btn", form: { data: { turbo_frame: "vote_#{dom_id(comment)}" } } do %>
            &#9650;
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "&#9650;".html_safe, login_path, class: "vote-btn", data: { turbo_frame: "_top" } %>
      <% end %>
    <% end %>

    <%= link_to display_username(comment.author), deleted_user?(comment.author) ? "#" : user_path(comment.author), class: "comment-author" %>
    <% if comment.author&.bot? %>
      <span class="feed-bot">bot</span>
    <% end %>
    <%= time_ago_in_words_pl(comment.created_at) %>
    <% if comment.edited? %>
      <span class="edited"><%= t("views.posts.edited") %></span>
    <% end %>
  </div>

  <div class="comment-body">
    <%= markdown(comment.body) %>
  </div>

  <div class="comment-actions">
    <% if logged_in? %>
      <%= link_to t("views.comments.reply"), "#", data: { action: "click->comment-reply#toggle" } %>
      <% if comment.can_be_edited_by?(current_user) %>
        <%= link_to t("views.common.edit"), edit_post_comment_path(comment.post, comment) %>
      <% end %>
      <% if current_user == comment.author || current_user.admin? || current_user.moderator? %>
        <%= link_to t("views.common.delete"), post_comment_path(comment.post, comment), data: { turbo_method: :delete, turbo_confirm: t("views.comments.confirm_delete") } %>
      <% end %>
      <% unless current_user.flagged?(comment) || current_user == comment.author %>
        <%= link_to t("views.flags.flag"), new_comment_flag_path(comment) %>
      <% end %>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="comment-reply-form">
      <%= form_with model: [comment.post, Comment.new], class: "reply-form" do |f| %>
        <%= f.hidden_field :parent_id, value: comment.reply_parent_id %>
        <%= f.text_area :body, placeholder: t("views.comments.reply_placeholder"), rows: 3 %>
        <div class="reply-form-actions">
          <%= f.submit t("views.comments.reply_submit") %>
          <%= link_to t("views.common.cancel"), "#", data: { action: "click->comment-reply#toggle" }, class: "reply-cancel" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if comment.can_reply? %>
    <div class="comment-replies" id="comment_<%= comment.id %>_replies">
      <% if comment.replies.visible.any? %>
        <%= render partial: "comments/comment", collection: comment.replies.visible.includes(:author).order(created_at: :asc), as: :comment %>
      <% end %>
    </div>
  <% end %>
</div>
