<div class="submit-form">
  <h2 class="form-title"><%= t("views.comments.edit_title") %></h2>

  <%= form_with model: [@post, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div class="flash flash-alert">
        <ul class="error-list">
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :body, t("views.comments.body") %>
      <%= f.text_area :body, rows: 8 %>
    </div>

    <div class="form-actions">
      <%= f.submit t("views.common.save") %>
      <%= link_to t("views.common.cancel"), post_path(@post), class: "btn" %>
    </div>
  <% end %>
</div>
