<li class="feed-item" id="<%= dom_id(post) %>">
  <span class="feed-rank"><%= rank %>.</span>

  <div class="feed-vote">
    <%= turbo_frame_tag "vote_#{dom_id(post)}" do %>
      <% if logged_in? %>
        <% if current_user.voted_for?(post) %>
          <span class="vote-btn active">&#9650;</span>
        <% else %>
          <%= button_to upvote_post_path(post), method: :post, class: "vote-btn", form: { data: { turbo_frame: "vote_#{dom_id(post)}" } } do %>
            &#9650;
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "&#9650;".html_safe, login_path, class: "vote-btn", data: { turbo_frame: "_top" } %>
      <% end %>
    <% end %>
  </div>

  <div class="feed-content">
    <div class="feed-title">
      <% if post.link? && post.url.present? %>
        <%= link_to post.title, post.url, target: "_blank", rel: "noopener noreferrer" %>
        <span class="feed-domain">(<%= post.domain %>)</span>
      <% else %>
        <%= link_to post.title, post_path(post) %>
      <% end %>

      <% if post.tag.present? %>
        <span class="feed-tag"><%= t("views.posts.tags.#{post.tag}") %></span>
      <% end %>

      <% if post.author&.bot? %>
        <span class="feed-bot">bot</span>
      <% end %>
    </div>

    <div class="feed-meta">
      <span id="score_<%= dom_id(post) %>"><%= pluralize_points(post.score) %></span>
      <%= t("views.posts.by") %> <%= link_to display_username(post.author), deleted_user?(post.author) ? "#" : user_path(post.author) %>
      <%= time_ago_in_words_pl(post.created_at) %>
      | <%= link_to pluralize_comments(post.comments_count), post_path(post) %>
      <% if logged_in? %>
        | <%= render "posts/bookmark_button", post: post, bookmarked: current_user.bookmarked?(post) %>
      <% end %>
    </div>
  </div>
</li>
