<% if @sort == "new" %>
  <% content_for(:title) { "Najnowsze posty | tabdevs.pl" } %>
  <% content_for(:description) { "Najnowsze artykuły i dyskusje dla polskich programistów. Świeży content ze świata IT, codziennie aktualizowany." } %>
<% else %>
  <% content_for(:title) { "tabdevs.pl - Agregator treści dla polskich programistów" } %>
  <% content_for(:description) { "Najpopularniejsze artykuły, tutoriale i dyskusje ze świata IT. Społeczność polskich programistów." } %>
<% end %>

<% content_for(:structured_data) do %>
<script type="application/ld+json" nonce="<%= content_security_policy_nonce %>">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "<%= @sort == "new" ? "Najnowsze posty" : "Top posty" %> - tabdevs.pl",
  "url": "https://tabdevs.pl<%= @sort == "new" ? "/new" : "/" %>",
  "description": "Agregator treści technicznych dla polskich programistów",
  "mainEntity": {
    "@type": "ItemList",
    "numberOfItems": <%= @posts.size %>,
    "itemListElement": [
      <% @posts.each_with_index do |post, index| %>
      {
        "@type": "ListItem",
        "position": <%= index + 1 %>,
        "url": "https://tabdevs.pl<%= post_path(post) %>",
        "name": <%= post.title.to_json.html_safe %>
      }<%= index < @posts.size - 1 ? "," : "" %>
      <% end %>
    ]
  }
}
</script>
<% end %>

<ol class="feed">
  <% @posts.each_with_index do |post, index| %>
    <%= render partial: "posts/feed_item", locals: { post: post, rank: @pagy.offset + index + 1 } %>
  <% end %>
</ol>

<% if @posts.empty? %>
  <p style="color: var(--text-light); padding: 20px 0;"><%= t("views.posts.no_posts") %></p>
<% end %>

<% if @pagy.pages > 1 %>
  <div class="pagination">
    <% if @pagy.next %>
      <%= link_to t("views.common.more"), url_for(page: @pagy.next) %>
    <% end %>
  </div>
<% end %>
